@import "./utils/variables", "./utils/extends";
@import "./base/base";
@import "./layouts/navigation", "./layouts/header", "./layouts/responsive";

body {
  background-image: url(/assets/images/bg.png);
}
// Main
main {
  // Florist
  #florist {
    .wrapper {
      .content {
        h2,
        h6,
        p {
          color: $color-first;
        }
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .image {
      &::after {
        content: "";
        background: url(/assets/images/brown-uniquewise-vases-qi004194-c3_600.avif);
        top: 15%;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        width: 20rem;
        z-index: 1;
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
      }
      img {
        width: 20rem !important;
        height: 30rem;
        z-index: 1;
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
      }
    }
  }
  // About
  #about {
    background-image: url(/assets/images/b5c021687ce7499f40a0b94a39c997ca.jpg);
    @extend %background-image;
    background-clip: text;
    h2 {
      color: transparent;
      font-size: 3rem;
    }
    p {
      color: transparent;
      font-size: 2rem;
    }
    img {
      cursor: pointer;
      border-top-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
      transition: filter 0.6s;
      filter: grayscale(0.6);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
  // Mission
  #mission {
    .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h2,
    p {
      color: $color-first;
    }
    h2 {
      font-size: 3rem;
    }
    img {
      border-top-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
    }
  }
  // Other
  #other {
    ul {
      background-color: rgba($color: $color-first, $alpha: 0.5);
      i {
        margin-right: 1rem;
      }
    }
  }
  // Banner
  #banner {
    img {
      height: 6rem;
      filter: blur(0.3rem);
    }
    .content {
      top: 10%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
