// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
  #header {
    margin-top: 3.8rem;
  }
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
  #header {
    margin-top: 2.9rem;
  }
  #florist {
    h2,
    h6,
    p {
      font-size: 0.9rem;
    }
  }
}

// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
  #florist {
    h2,
    h6 {
      font-size: 1.5rem;
    }
    p {
      display: none;
    }
    .image {
      justify-content: center !important;
      &::after {
        display: none;
      }
      img {
        width: unset !important;
        height: unset !important;
      }
    }
  }
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
  #nav {
    padding: 0.7rem 0 !important;
  }
  #header {
    padding: 15rem !important;
    h1 {
      font-size: 3rem !important;
    }
    h3 {
      font-size: 2rem !important;
    }
  }
  #florist {
    p {
      display: block;
    }
    .image {
      display: none !important;
    }
  }
  #mission {
    h2 {
      font-size: 2rem !important;
    }
    p {
      font-size: 0.9rem !important;
    }
    .right {
      display: none;
    }
  }
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  #nav {
    .logo {
      display: none !important;
    }
    ul {
      justify-content: center !important;
    }
  }
  #header {
    padding: 10rem !important;
    h1 {
      font-size: 2rem !important;
    }
    h3 {
      font-size: 1rem !important;
    }
  }
  #florist {
    p {
      display: none !important;
    }
  }
  #about {
    h2 {
      font-size: 2rem !important;
    }
    p {
      font-size: 1rem !important;
    }
  }
  #portfolio {
    h2 {
      font-size: 2rem !important;
    }
    .flwr {
      display: none;
    }
  }
  #price {
    h2 {
      font-size: 2rem !important;
    }
  }
  #events {
    h2 {
      font-size: 2rem !important;
    }
  }
  #contact {
    h2 {
      font-size: 2rem !important;
    }
  }
  #clients {
    h2 {
      font-size: 2rem !important;
    }
  }
  #find {
    h2 {
      font-size: 2rem !important;
    }
  }
  #subscribe {
    h2 {
      font-size: 2rem !important;
    }
  }
  #footer {
    h2 {
      font-size: 2rem !important;
    }
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
  #main {
    #banner {
      img {
        width: 100% !important;
      }
    }
  }
}
